body {
    
    background-image: url( '/order-summary-component-main/images/pattern-background-desktop.svg');
    background-repeat: no-repeat; 
    background-color: hsl(225, 100%, 94%);
    
    
}

.card-container {
    padding: 0px;
    border-radius: 20px;  
}


    